 .container{
     display: block;
     width: 400px;
     border: solid 1px black;
     margin: 0 auto;
     padding: 100px;
     text-align: center;
     font-family: 'Anton',
     sans-serif;
 }

 h2{
     background: #93c57d;
     color: white;
 }

 body{
     width: 100%;
     color: black;
 }
 
 input, button {
    background-color: white;
    border-color: #93c47d;
    border-width: 3px;
    color: #93c47d;
    padding: 3px;
 }

input {
    color: black;
}

#remove{
    color: white;
    background-color: red;
    border: red;
}
